/* root colors */

:root {
    --button-border-color: #d7dcde;
    --button-hover-color: #e6e9eb;
}

body {
    background: #eef6fb;
}


a.systemLink {
    color: #004c8f !important;
}

#page-content {
    background: #fefefe;
    margin: 18px;
    border-radius: 18px;
    box-shadow: 0px 4px 14px 0px rgba(0, 76, 143, 0.22);
    padding: 18px !important;
}


div.tab-content { 
    border: none;
}

/* Hiden all clear:both stuff */

div[style="clear:both"] {
    display: none;
}

/* app tabs */

.app-tabs {
    display: flex;
    padding: 0 10px !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 18px;
    background: #eef6fb;
    border: none;
    white-space: nowrap;                            
    height: unset !important;
    margin-bottom: 10px;
}

.app-tabs ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    background: transparent;
    list-style: none;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    gap: 0 5px;
}

.app-tabs ul li:first-child {
    border-left: none !important;
}

.app-tabs ul li:last-child {
    border-right: none;
}

.app-tabs ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none !important;
    border: none;
    flex-shrink: 0;
}

.app-tabs ul li a {
    border-right: none !important;
    color: #004c8f
}

.app-tabs ul li a:hover {
    color: unset;
}

.app-tabs ul li.selected-tab a:before, 
.app-tabs ul li.selected-tab a:after,
.app-tabs ul li.selected-tab:after{
    display: none !important;
}

.app-tabs ul li.selected-tab,
.app-tabs ul li:hover {
    border-bottom: 2px solid #004c8f !important;
    background: transparent
}
.app-tabs ul li.selected-tab > a {
    color: #004c8f;
    font-weight: 600;
}

li#more-button {
    position: relative;
}

.app-tabs .extra-tabs {
    top: 44px;
    background-color: white;
}

/* left menu */

.tab-menu {
    border: 1px solid #d7dcde;
    border-radius: 18px;
    margin: 10px 16px 0 0;
}

.tab-menu .menu-bar,
.tab-menu .menu-bar #searchMenu,
.tab-menu .menu-bar .collapsible-panel-header,
.tab-menu .menu-bar .link-items a  {
    background: none!important;
    border: none
}

.tab-menu .collapsible-panel-content .tree-builder > a:hover, 
.tab-menu .link-items a:hover {
    border-left: 4px solid #004c8f !important;
    background: none !important;
    color: #004c8f !important;
}

.tab-menu  span.cnt {
    background: #004c8f;
    color: #FFF;
    padding: 2px 6.5px;
    border-radius: 10px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px !important;
}

@media (max-width: 768px) {
    .page-header {
        display: none;
    }
    .tab-menu {
        width: 35px;
    }

    .menu-tooltip {
        visibility: hidden;
        color: #0076bd !important;
        width: auto;
        white-space: nowrap;
        background-color: #f1f1f1;
        -ms-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -ms-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        position: absolute;
        z-index: 999999999;
        padding-right: 10px;
        padding-left: 10px;
        top: 0;
        left: 100%;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
    }

    .tab-menu.tab-menu-collapsed>.menu-bar .collapsible-panel-header:hover .menu-tooltip, 
    .tab-menu.tab-menu-collapsed>.menu-bar .link-items a:hover .menu-tooltip, 
    .tab-menu.tab-menu-collapsed>.menu-bar .favorite-item a:hover .menu-tooltip {
        visibility: visible;
    }

}

/* Inventory header */

.inventory-container .header-wrapper {
    min-height: unset;
}

@media (max-width: 768px) {
    .page-header {
        display: none;
    }
}

/* Hide the Custom Inventory Dropdown */
.header-wrapper-inventory {
    display: none;
}


.inventory-page .breadcrumbs {
    margin: 0!important;
    padding: 10px 0 18px 0;
}


/* Inventory Menu */

.links_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

    height: unset!important;
    padding: 0!important;
}

.grid-action-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
}

.grid-action-links a, .inventory-actions {
    padding: 5px;
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
    background-position: 3px!important;
}


.grid-action-links a:empty,
.inventory-actions:empty,
.pagerContainer:empty,
.group-item:empty {
    display: none!important;
}

.inventory-actions .dropdown_text {
    padding-right: 0!important;
}

.grid-action-links a:hover, .inventory-actions:hover {
    background-color: var(--button-hover-color);
}

/* Inventory Columns */

.datagrid .td_sorting .dropdown_container {
    margin-right: 0!important;
    white-space: initial;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.datagrid .dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
}

.datagrid .td_sorting .tool-tip {
    margin-left: unset !important;
}

.header_wrapper .dropdown a:link {
    white-space: pre-wrap !important;
}

tr.header {
    max-height: unset !important;
}

.datagrid th {

    vertical-align: bottom!important; 
}
.datagrid td,
.datagrid th {
    white-space: unset!important;
}

.inventory-row div.body-wrapper tr.header, 
.inventory-row div.body-wrapper tr.header-filter, 
.map-wrapper div.body-wrapper tr.header, 
.map-wrapper div.body-wrapper tr.header-filter, 
.detpage .inventory-row div.body-wrapper tr.header, 
.detpage .inventory-row div.body-wrapper tr.header-filter {
    max-height: unset !important;
}

.inventory-row th input[type="text"], 
.map-wrapper th input[type="text"], 
.detpage .inventory-row th input[type="text"] {
    border-radius: 8px;
    padding: 5px 8px;
    height: unset !important;
}

.inventory-row th select.filterBox, 
.map-wrapper th select.filterBox, 
.detpage .inventory-row th select.filterBox {
    border-radius: 8px;
    padding: 5px 8px;
    height: unset !important;
    min-width: 50px;
    background-color: #FFF;
}

/* Detail */

.detpage > * > .header .main .title-container .text {
    color: #262626 !important;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
    margin-left: 0px;
    padding: 0px !important;
}

.title-container .icon {
    display: none;
}


.detpage .content {
    margin-top: 20px;
}

div#breadcrumbs_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
}

.inventory-page .breadcrumbs a,
.detpage .breadcrumbs a  {    
    font-size: 14px;
    border-bottom: 1px solid #164f8d;
    color: #164f8d;
    padding-bottom: 5px;
}

/* Detail - Detail  Menu */


.detpage>*>.header .main {
    height: unset !important;
    padding-bottom: 10px!important;
    border: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-action-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding-right: 80px!important; /* to leave space for the gear, print, popup icon */
}


@media (max-width: 768px) {
    .menu-action-links {
        padding-right: 0!important;
    }

    .detpage .fieldarea-field {
        width: 100% !important;
    }
    
    .detpage .menu-action-links a, 
    .detpage .menu-action-links input {
        font-size: 13px;
    }
}

.detpage .menu-action-links a,
.detpage .menu-action-links input {

    margin-right: 0;
    border: 2px solid rgb(0, 76, 143);
    padding: 8px 10px!important;
    border-radius: 21px;
    background-image: none !important;
    color: rgb(0, 76, 143);
    font-size: 15px;
    font-weight: 600;
}

.detpage .menu-action-links input::before {
    font-family: 'FontAwesome';
}

#save_action_link {
    color: rgb(0, 76, 143)!important;
}

#save_action_link::before {
    content: "\f0c7"; /* fa-save */
}

.menu-action-links a:hover, 
.menu-action-links input:hover {
    background-color: var(--button-hover-color);
}

.datagrid_footer .pagerContainer {
    width: auto !important;
}

/* grid */

.secbase .grid_container .body-wrapper {
    border-radius: 18px 18px 0px 0px;
}

div.inventory-row.datagrid div.footer-wrapper tr.datagrid_footer td, 
div.map-wrapper tr.datagrid_footer td,
.secbase .grid_container .footer-wrapper {
    border-radius: 0px 0px 18px 18px;
}

.detpage .grid_container thead,
div.inventory-row.datagrid div.footer-wrapper tr.datagrid_footer td, 
div.map-wrapper tr.datagrid_footer td {
    background-color: #F7F7F7;
    padding: 10px!important;
}

.inventory-row div.body-wrapper tr.header, 
.inventory-row div.body-wrapper tr.header-filter,
.map-wrapper div.body-wrapper tr.header, 
.map-wrapper div.body-wrapper tr.header-filter, 
.detpage .inventory-row div.body-wrapper tr.header, 
.detpage .inventory-row div.body-wrapper tr.header-filter {
    background: none !important;
}


.inventory-row div.body-wrapper tr.header .td_sorting {
    padding: 14px 10px;
}

.inventory-row td.data-cell, 
.map-wrapper td.data-cell, 
.detpage .inventory-row td.data-cell {
    padding: 16px 10px;
}

div.inventory-row.datagrid div.footer-wrapper tr.datagrid_footer td div.pageSizeControl select, 
div.map-wrapper tr.datagrid_footer td div.pageSizeControl select {
    background-color: #FFF;
    border-radius: 8px;
}

.inventory-row tr.data_row, 
.map-wrapper tr.data_row, 
.detpage .inventory-row tr.data_row {
    background-color: #ffffff;
}
.inventory-row tr.data_row.alternate, 
.map-wrapper tr.data_row.alternate, 
.detpage .inventory-row tr.data_row.alternate {
    background-color: #fcfcfc;
}

/* Detail View Section */


.content > .secbase:not(.no_title) {
    border: 1px solid #dbe4e5 !important;
    border-radius: 18px;
    padding: 18px;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.1);
}

.secbase>.header>.main>.title-container .icon {
    display: none !important;
}

.secbase>.header>.main>.title-container {
    margin: 0!important;
    border: none !important;
    height: unset !important;
}

.secbase > .header {
    height: unset !important;
}

.detpage .secbase .header .main {
    background: none !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    height: unset !important;
}

.secbase.secbase-raven>.header .main>.trigger {
    margin-top: 2px!important;
}

.secbase >.header .main>.title-container .text {
    font-size: 1.8rem!important;
    color: #262626 !important;
    font-weight: 600!important;
}

.secbase>.content {
    padding: 20px 0 0 0 !important;
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.secbase>.footer {
    display: none !important;
}

.inventory-row div.body-wrapper, 
.map-wrapper div.body-wrapper, 
.detpage .inventory-row div.body-wrapper {
    min-height: unset !important;
}


.secbase .grid_container .inventory-row {
    margin-bottom: 0 !important;
}

.field-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.field-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.detpage .fieldarea-caption .caption-wrapper {
    min-height: unset !important;
}


.detpage .fieldarea-caption {
    margin-top: 4px;
}

.detpage .fieldarea-field {
    text-align: left;
    vertical-align: top;
    float: right;
    outline: 1px solid #dce4e5;
    border-radius: 8px;
}

.fieldarea-field > div {
    padding: 8px;
    background-color: #f9f9f9;
    width: 100%;
    min-height: 16px;
}

.fieldarea-field,
.datetime-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
}


.detpage .fieldarea-row {
    margin-right: 0 !important;
    line-height: unset !important;
}

/* Messages */

.detpage .errorContainer {
    background-color: #ffeded;
    border: 1px solid #d48686;
    padding: 10px;
    border-radius: 10px;
}

.detpage .errorContainer div {
    color: #7d0000 !important;
}


.detpage div.message {
    margin: 0 0 20px;
    border-radius: 10px;
    padding: 10px !important;
}

.ui-state-highlight {
    border: 1px solid #0a679f !important;
    background: #e3eff9 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}

div#notification_caption {
    width: 100%;
}

/* Detail - Input Component */

.fieldarea-field  input[type=checkbox] {
    margin: 8px;
}

.fieldarea-field textarea, 
.fieldarea-field input,
.fieldarea-field select {
    border-radius: 8px !important;
    box-sizing: border-box;
    border: 1px solid #004c8f!important;
    padding: 8px;
}

.fieldarea-field input,
.fieldarea-field select {
    height: unset !important;
}

.detpage .fieldarea-field{
    padding-top: unset !important;
}

.fieldarea-field textarea,
.fieldarea-field select,
.fieldarea-field input[type="text"] {
    width: 100%!important;
}

.fieldarea-field select[name$="Timezone"] {
    width: auto!important;
    margin-right: 8px;
}

.fieldarea-field input[type="text"], 
.fieldarea-field input[type="password"] {
    height: unset!important;
    line-height: unset!important;
}

.entitySelectorGroup,
#LogonLocation_EntitySelector {
    width: 100%;
}

.entitySelectorGroup > div,
#LogonLocation_EntitySelector  {
    display: flex!important;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.entitySelectorGroup a,
#LogonLocation_EntitySelector a {
    line-height: normal;
}

.icon-selector {
    padding: 8px;
}

.entitySelectorGroup,
.entityselector-selectLink,
.entityselector-clearLink,
.entityselector-assignToMeLink,
.hierarchyselector-clearLink,
.icon-select-link,
.icon-clear-link,
#configureSchedule,
#clearSchedule {
    font-size: 0 !important;
}

.entityselector-selectLink::before,
.entityselector-clearLink::before,
.entityselector-assignToMeLink::before,
.icon-select-link::before,
.icon-clear-link::before,
#configureSchedule::before,
#clearSchedule::before,
.hierarchyselector-clearLink::before {
    font-size: 18px;
    font-family: 'FontAwesome';
    color: #004c8f;
}

.entityselector-selectLink::before,
.icon-select-link::before,
#configureSchedule::before {
    content: "\f002"; /* fa-search */
}
.entityselector-clearLink::before,
.hierarchyselector-clearLink::before,
.icon-clear-link::before,
#clearSchedule::before,
.hierarchyselector-clearLink::before {
    content: "\f00d"; /* fa-times */
}

.entityselector-assignToMeLink::before {
    content: "\f007"; /* fa-user */
}

input:focus,
select:focus,
textarea:focus {
    /* outline-width: 1px !important; */
    outline: 1px solid #004c8f;
    box-shadow: 4px 3px 4px 0px rgb(156 173 255 / 50%);
}


span#frequencyContainerSummary {
    padding: 8px;
}

div[id^="frequencyContainer_"],
#schedulePreview,
#calendarDialog {
    display: none!important;
}

.group.flow-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.fieldarea-field .flow-column .group-item {
    margin-right: 0;
}

.detpage .group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.detpage .fieldarea-field .group-item {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    gap: 8px;

    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background-color: #ffffff;
}

.GeoDataFieldGroup button {
    border: none;
    padding: 8px 16px;
    border-radius: 100px;
    background-color: #004c8f;
    color: #fefefe;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    margin-top: 5px;
}

.tabs-section.ui-tabs .ui-tabs-nav {
    border-radius: 18px !important;
    overflow-x: scroll;
    padding: 0px 14px !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: none;
    background-color: #eef6fb !important;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
}

.tabs-section.ui-state-default, 
.tabs-section.ui-widget-content .ui-state-default, 
.tabs-section.ui-widget-header .ui-state-default {
    background: none !important;
}

.tabs-section.ui-tabs .ui-tabs-nav li {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-right: none !important;
    padding: 10px 0;
}

.tabs-section.ui-state-default.ui-tabs-active.ui-state-active {
    border-bottom: 2px solid #004c8f !important;    
}

.ui-helper-clearfix:after{
    display: none !important;
}
.tabs-section.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 10px;
}

.tabs-section.ui-state-active a, 
.tabs-section.ui-state-active a:link, 
.tabs-section.ui-state-active a:visited {
    color: #004c8f;
    font-weight: 600;
    cursor: pointer!important;
}

.tabs-section.ui-tabs .ui-tabs-nav li:hover {
    border-bottom: 2px solid #004c8f !important;
}

.tab-grids {
    margin-bottom: 20px;
}

/* WOrkflow Status */

.detpage .header .main .title-container .workflow-status-area {
    margin: 24px 0px 24px 0px !important;
    padding: 0px !important;
    background-color: transparent;
}

.workflow-status-area {
    display: grid;
    column-gap: 30px;
}

.detpage .header .main .title-container .workflow-status-area strong {
    color: #262626;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 3px !important;
}

.detpage .header .main .title-container .workflow-status-area span, .detpage .header .main .title-container .workflow-status-area #WorkflowStatus {
    margin-right: 0;
    margin-left: 3px !important;
    color: #262626;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.15px;
}

.workflow-status-area span {
    grid-row: 2;
}

.workflow-status-area strong {
    grid-row: 1;
}

.workflow-status-area strong, 
.workflow-status-area span {
    grid-column: span 1;
}

