

/* root colors */

:root {
    --button-border-color: #d7dcde;
    --button-hover-color: #e6e9eb;
}

/* Hiden all clear:both stuff */

div[style="clear:both"] {
    display: none;
}

/* Inventory header */

/* Hide the Custom Inventory Dropdown */
.header-wrapper-inventory {
    display: none;
}

/* Inventory Menu */

.links_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

    height: unset!important;
    padding: 0!important;
}

.grid-action-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    margin: 10px 0;
}

.grid-action-links a, .inventory-actions {
    padding: 5px;
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
    background-position: 3px!important;
}


.grid-action-links a:empty,
.inventory-actions:empty,
.pagerContainer:empty {
    display: none;
}

.inventory-actions .dropdown_text {
    padding-right: 0!important;
}

.grid-action-links a:hover, .inventory-actions:hover {
    background-color: var(--button-hover-color);
}

/* Inventory Columns */

.datagrid .td_sorting .dropdown_container {
    margin-right: 0!important;
    white-space: initial;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.datagrid .dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
}

.datagrid .td_sorting .tool-tip {
    margin-left: unset !important;
}

.header_wrapper .dropdown a:link {
    white-space: pre-wrap !important;
}

tr.header {
    max-height: unset !important;
}

.datagrid th {
    white-space: unset!important;
}

.datagrid td, .datagrid th {
    vertical-align: bottom!important; 
}

.inventory-row div.body-wrapper tr.header, 
.inventory-row div.body-wrapper tr.header-filter, 
.map-wrapper div.body-wrapper tr.header, 
.map-wrapper div.body-wrapper tr.header-filter, 
.detpage .inventory-row div.body-wrapper tr.header, 
.detpage .inventory-row div.body-wrapper tr.header-filter {
    max-height: unset !important;
}

.inventory-row th input[type="text"], 
.map-wrapper th input[type="text"], 
.detpage .inventory-row th input[type="text"] {
    border-radius: 8px;
    padding: 5px 8px;
    height: unset !important;
}

.inventory-row th select.filterBox, 
.map-wrapper th select.filterBox, 
.detpage .inventory-row th select.filterBox {
    border-radius: 8px;
    padding: 5px 8px;
    height: unset !important;
}

/* Detail - Detail  Menu */

.detpage>*>.header .main {
    height: unset !important;
    padding-bottom: 10px!important;
}

.menu-action-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding-right: 80px!important; /* to leave space for the gear, print, popup icon */
}


@media (max-width: 768px) {
    .menu-action-links {
        padding-right: 0!important;
    }

    .detpage .fieldarea-field {
        width: 100% !important;
    } 
}

.detpage .menu-action-links a,
.detpage .menu-action-links input {

    margin-right: 0!important;
    border: 1px solid var(--button-border-color) !important;
    padding: 5px;
    border-radius: 6px;
    background-position: 3px !important;
}

.menu-action-links a:hover, 
.menu-action-links input:hover {
    background-color: var(--button-hover-color);
}


.datagrid_footer .pagerContainer {
    width: auto !important;
}

/* Detail View Section */

.secbase {
    border: 1px solid #dbe4e5 !important;
    border-radius: 18px;
    padding: 18px;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.1);
}

.secbase>.header>.main>.title-container .icon {
    display: none !important;
}

.secbase>.header>.main>.title-container {
    margin: 0!important;
    border: none !important;
    height: unset !important;
}

.secbase > .header {
    height: unset !important;
}

.detpage .secbase .header .main {
    background: none !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    height: unset !important;
}

.secbase.secbase-raven>.header .main>.trigger {
    margin-top: 2px!important;
}

.secbase >.header .main>.title-container .text {
    font-size: 1.8rem!important;
    color: #262626 !important;
    font-weight: 600!important;
}

.secbase>.content {
    padding: 20px 5px 0 5px !important;
    margin-top: 0 !important;
}

.secbase>.footer {
    display: none !important;
}

.inventory-row div.body-wrapper, 
.map-wrapper div.body-wrapper, 
.detpage .inventory-row div.body-wrapper {
    min-height: unset !important;
}


.secbase .grid_container .inventory-row {
    margin-bottom: 0 !important;
}

.field-wrapper {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.fieldarea-field,
.datetime-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
}


.detpage .fieldarea-row {
    margin-right: 0 !important;
}

/* Messages */

.detpage .errorContainer {
    background-color: #ffeded;
    border: 1px solid #d48686;
    padding: 10px;
    border-radius: 10px;
}

.detpage .errorContainer div {
    color: #7d0000 !important;
}


.detpage div.message {
    margin: 0 0 20px;
    border-radius: 10px;
    padding: 10px !important;
}

.ui-state-highlight {
    border: 1px solid #0a679f !important;
    background: #e3eff9 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}

div#notification_caption {
    width: 100%;
}

/* Detail - Input Component */

.fieldarea-field textarea, 
.fieldarea-field input,
.fieldarea-field select {
    border-radius: 8px !important;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    padding: 5px 8px;
}

.fieldarea-field textarea,
.fieldarea-field select,
.fieldarea-field input[type="text"] {
    width: 100%!important;
}

.fieldarea-field select[name$="Timezone"] {
    width: auto!important;
}

.fieldarea-field input[type="text"], 
.fieldarea-field input[type="password"] {
    height: unset!important;
    line-height: unset!important;
}

.entitySelectorGroup,
#LogonLocation_EntitySelector {
    width: 100%;
}

.entitySelectorGroup > div,
#LogonLocation_EntitySelector  {
    display: flex!important;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.entitySelectorGroup a,
#LogonLocation_EntitySelector a {
    line-height: normal;
}

.entitySelectorGroup,
.entityselector-selectLink,
.entityselector-clearLink,
.entityselector-assignToMeLink {
    font-size: 0 !important;
}

.entityselector-selectLink::before,
.entityselector-clearLink::before,
.entityselector-assignToMeLink::before {
    font-size: 20px;
    font-family: 'FontAwesome';
    color: #004c8f;
}

.entityselector-selectLink::before {
    content: "\f002"; /* fa-search */
}
.entityselector-clearLink::before {
    content: "\f00d"; /* fa-times */
}

.entityselector-assignToMeLink::before {
    content: "\f007"; /* fa-user */
}


input:focus,
select:focus,
textarea:focus {
    /* outline-width: 1px !important; */
    outline: 1px solid #004c8f;
    box-shadow: 4px 3px 4px 0px rgb(156 173 255 / 50%);
}
