

/* root colors */

:root {
    --button-border-color: #d7dcde;
    --button-hover-color: #e6e9eb;
}

/* Hiden all clear:both stuff */

div[style="clear:both"] {
    display: none;
}

/* Inventory header */

/* Hide the Custom Inventory Dropdown */
.header-wrapper-inventory {
    display: none;
}

/* Inventory Menu */

.links_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

    height: unset!important;
    padding: 0!important;
}

.grid-action-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    margin: 10px 0;
}

.grid-action-links a, .inventory-actions {
    padding: 5px;
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
    background-position: 3px!important;
}

.inventory-actions:empty {
    display: none;
}

.inventory-actions .dropdown_text {
    padding-right: 0!important;
}

.grid-action-links a:hover, .inventory-actions:hover {
    background-color: var(--button-hover-color);
}

/* Inventory Columns */

.datagrid .td_sorting .dropdown_container {
    margin-right: 0!important;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.datagrid .dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

.datagrid .td_sorting .tool-tip {
    margin-left: unset !important;
}

.header_wrapper .dropdown a:link {
    white-space: pre-wrap !important;
}

tr.header {
    max-height: unset !important;
}

/* Detail - Detail  Menu */

.detpage>*>.header .main {
    height: unset !important;
    padding-bottom: 10px!important;
}

.menu-action-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding-right: 80px!important; /* to leave space for the gear, print, popup icon */
}

.detpage .menu-action-links input, 
.detpage .menu-action-links {
    margin-right: 0!important;
    border: 1px solid var(--button-border-color);
    padding: 5px;
    border-radius: 6px;
    background-position: 3px !important;
}

.menu-action-links a:hover, 
.menu-action-links input:hover {
    background-color: var(--button-hover-color);
}
